*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  background-color: #ffffff;
  color: #434455;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  width: 100%;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.home-navbar {
  background-color: #ffffff;
  display: flex;
  align-items: center;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.span {
  color: #2e2f42;
}
.header {
  border-bottom: 1px solid #e7e9fc;
  height: 72px;
}
.header-div {
  display: flex;
  height: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}
.header-menu {
  display: flex;
  gap: 40px;
}
.header-menu .list:last-child {
  margin-right: 0;
}
.header-menu .list .etiket {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  letter-spacing: 0.02em;
  padding: 24px 0;
  color: #2e2f42;
}
.header-menu .list .etiket:hover,
.header-menu .list .etiket:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
}
.address .address-link {
  display: flex;
}
.address-link .list {
  margin-right: 40px;
}
.address-link .list:last-child {
  margin-right: 0;
}
.address-link .list .etiket {
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #434455;
}
.address-link .list .etiket:hover,
.address-link .list .etiket:focus {
  color: #404bbf;
}
.first-section-container {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.button {
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 0.04em;
  line-height: 1.5;
  background-color: #4d5ae5;
  color: #ffffff;
}
.button:hover,
.button:focus {
  background-color: #404bbf;
  color: #ffffff;
}

.our-team {
  padding: 120px 0;
  background-color: #f4f4fd;
}
.section-header {
  text-transform: capitalize;
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.hero {
  padding: 188px 0;
  background-color: #2e2f42;
}
.hero-header {
  max-width: 496px;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.second-section {
  padding: 120px 0;
  background-color: #ffffff;
}
.visually-hidden {
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  position: absolute;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
}
.section-ul {
  gap: 24px;
  display: flex;
}
.section-ul .list.section-third-list {
  width: calc((100% - 48px) / 4);
}
.four {
  column-gap: 24px;
  row-gap: 48px;
  flex-wrap: wrap;
}
.section-ul.four .list.last {
  margin-bottom: 48px;
  width: calc((100% - 48px) / 3);
}
.last:nth-child(3n) {
  margin-bottom: 0;
  margin-right: 0;
}
.section-ul .list:last-child {
  margin-right: 0;
}
.section-ul .list {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}
.section-ul .list.section-second-list {
  width: calc((100% - 72px) / 4);
}
.card {
  padding: 32px 0;
}
.card-wrap {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.section-ul .list .subtitle {
  margin-bottom: 8px;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.section-ul .list .text {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.fourth-section {
  padding: 120px 0;
  background-color: #ffffff;
}
.footer {
  padding: 100px 0;
  background-color: #2e2f42;
}
.footer .logo {
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}
.footer .logo .span {
  display: inline-block;
  color: #f4f4fd;
}
.footer .text {
  font-size: 16px;
  line-height: 1.5;
  max-width: 264px;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
